<ion-header>
  <ion-toolbar>
    <ion-title>Produtos de Coleção</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--p>{{ loading }}</p-->
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onSearchChange($event)"></ion-searchbar>
  <ion-button (click)="onSearchClick()">Buscar</ion-button>
  <ion-button (click)="onViewHistoryClick()">Ver Histórico</ion-button>
  <ion-button (click)="clearProducts()">Limpar</ion-button>

  <div *ngIf="displayTitle">
    <h3>{{ displayTitle }}</h3>
  </div>

  <ion-list *ngIf="apiResponse">
    <ion-item *ngFor="let product of apiResponse.products">
      <ion-label>
        <h2>{{ product.productName }}</h2>
        <p>{{ product.consoleName }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-spinner *ngIf="loading"></ion-spinner>
</ion-content>