<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bem-vindo ao nosso aplicativo</ion-card-title>
        <ion-card-subtitle>Clique aqui embaixo para fazer uma pesquisa</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
    <ion-button expand="full" shape="round" color="primary" href="/product">Ir para produtos</ion-button>
  </div>
</ion-content>
